@import '../../../styles/colors.scss';

.required {
  position: relative;
  padding-left: 1.6rem;
  font-size: 1.4rem;

  &::before {
    position: absolute;
    content: '*';
    top: 2px;
    left: 0;
    color: $field-error-header;
  }
}
