@import '../../../../styles/mixins/media-queries.scss';

.mainLayout {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  padding: 0 64px;
  overflow-x: hidden;

  @include mobile {
    padding: 0 8px;
  }
}
